button { 
    background-color: blue;
    margin: 100px;
    height: 50px;
    font-size: 20px;
    font-family: ubuntu medium;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px aqua;
    color: #fff;
    border: none;
}
/*
h1{
    text-align: center;
    color: #000;
}*/

p{
    font-family: ubuntu medium;
    font-size: 18px;
    text-align: center;
    cursor: pointer;    
    text-transform: uppercase;
    width: 50%;
    margin: 0 auto;
    /*width: 170px;*/
    height: 20px;
    padding: 5px 10px;
    border: 2px solid rgba(33,59,189, .9);
    border-radius: 5px;
    background-color: rgba(238,132,0,.5);
    color: rgba(212,105,119, 1);
}